<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="css/deli-very.css">
  <script src="/vue/vue.js" defer></script>
  <script src="/socket.io/socket.io.js" defer></script>
  <script src="https://vuejs.org/js/vue.js" defer></script>
  <script src="js/js_script.js" defer></script>
  <script src="js/vue_script.js" defer></script>
  <link rel="stylesheet" type="text/css" href="css/style.css">
  <title>Big Burgers</title>
  <meta charset="utf-8"/>
</head>
<body>
  <div id ="vue_container">
    <div id="header1">
      <img id ="header_pic"src="https://www.intofilm.org/intofilm-production/331/scaledcropped/1170x548/resources/331/cloudy-with-a-chance-of-meatballs-header.jpg"height = "350" width= "1264">
      <div class ="welcome_text"align = "center">Welcome to Big Burger</div>
    </div>

    <section id ="burgers">
      <h2 align = "center" > Select burger </h2>
      <p align = "center">This is where you excecute the burger selection</p>
      <div id= "myID">
        <div style="display: flex; justify-content:space-evenly; flex-wrap: wrap;">
          <div v-for="burger in burgers" v-if="burger.lactose || burger.gluten && burger.stock > 0" >
            <div style="display: flex ; flex-direction: column">
              <h3 align ="center">
                {{ burger.name }}
              </h3>
              <img :src="burger.img" width="300" height="280"/>
              <div style="height: 50px;">
                <li v-if="burger.gluten">Contains Gluten
                </li>
                <li v-if="burger.lactose">Contains Lactose
                </li>
              </div>
              <div id="checkbox_order">
                <input type="checkbox" id="namn" :value="burger.name" v-model="order_list">
                <label>Add to order</label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section id="costumer">
      <br/>
      <h2> Customer information</h2>
      <p id = "cinfo1">This is where you enter costumer information</p>
      <main>
        <form id ="costumer_info">
          <p>
            <label for="Full name">First and Last name</label><br>
            <input type="text" id="Full_name" name="fn" required="required" placeholder="Full name">
          </p>
          <p>
            <label for="E-mail">E-mail adress</label><br>
            <input type="email" id="Email" name="em" required="required" placeholder="Email address">
          </p>
        </form>
      </section>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <h2> Click in the map! </h2>
        <a href="/dispatcher" target="_blank">Open dispatcher in new window</a>.
        <div class="view-box">
          <div id="dots" v-on:click="displayOrder">
              <div v-for="(Tdisplay,position) in newOrder" v-bind:style="{ left: newOrder.position.x + 'px', top: newOrder.position.y + 'px'}">
                {{newOrder.Tdisplay}}
              </div>
          </div>
    </div>
  </main>

  <section id= "payment_information" >
    <h3> Payment options </h3>
    <p>
      <label id ="payment_1" for="Payment">Payment</label><br>
      <select id="payment" name="pmnt" v-model="payment">
        <option>Visa card</option>
        <option>Master card</option>
        <option>Swish</option>
        <option>avbetalning</option>
      </select>
    </p>
  </section>
  <h3>Gender</h3>
  <br>
  <input type="radio" name="gender" value="male"> Male<br>
  <input type="radio" name="gender" value="female"> Female<br>
  <input type="radio" name="gender" value="Other"> Non-binary<br>
  <input type="radio" name="gender" value="Undisclosed" checked="checked"> Undisclosed

  <section id = "ShowingOrderInfo" >
    <h5> Send information </h5>

    <div id ="button1">
      <button type="button" v-on:click="orderDone()"><img src="https://naturalsolar.com.au/wp-content/uploads/2016/05/Place-Order-Button-1.png"width="200"></button>
    </div>
    <div id ="order_info1" v-if = "order_info">
      <h3 >Order confirmation</h3>
      <h4>Costumer details</h4>
      <div id="costumer_text" >
        <p>Name: {{personal_info_array[0]}}</p>
        <p>Email: {{personal_info_array[1]}}</p>
        <p>Payment method: {{payment}}</p>
        <p>Gender: {{gender}} </p>

      </div>
      <h4>Order summary</h4>
      <div id ="order_summary" v-for= "burger in order_list" >
        <li>{{burger}}</li> <br/>
      </div>
    </section>
  </div>

</div>
<footer>
  &copy;Big Burger inc.
</footer>

</body>
</html>
